.input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 380px;
  border: none;
  border-radius: 5px;
  /* border: purple solid 5px; */
}
.input:focus {
  outline: none;
}
