@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap");

#about__container {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.about__title {
  color: #090b16;
  font-family: "Russo One", sans-serif;
  font-size: 100px;
  -webkit-text-stroke: 0.6px #b240ff;
  letter-spacing: 20px;
}

.about__text {
  font-size: 2vw;
  line-height: 130%;
  text-align: left;
  color: #ffff;
  padding-top: 40px;
  font-family: "Changa", sans-serif;
  margin-left: 50%;
}

@media screen and (max-width: 768px) {
  .about__text {
    font-size: 25px;
  }
}

.image__container {
  /* max-width: 780px; */
  /* display: flex; */
  /* justify-content: space-around; */
  margin-top: 40px;
}

.fisrt__image__contant {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.image__title {
  color: hsla(0, 0%, 78%, 0.3);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-left: 40px;
  letter-spacing: 20px;
}

.about__firstText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 188.52%;

  /* text-align: center; */
  letter-spacing: 0.185em;

  color: #ffffff;
  max-width: 30%;
}

.vertical__title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #090b16;
  font-family: "Russo One", sans-serif;
  font-size: 60px;
  -webkit-text-stroke: 0.6px #b240ff;
  letter-spacing: 20px;
}

@media screen and (max-width: 669px) {
  .fisrt__image__contant {
    display: flex;
    flex-direction: column;
  }
  .second__img {
    display: none;
  }

  .about__firstText {
    font-size: 30px;
    max-width: 100%;
  }

  .vertical__title {
    color: #090b16;
    font-family: "Russo One", sans-serif;
    font-size: 60px;
    -webkit-text-stroke: 0.6px #b240ff;
    letter-spacing: 20px;
    writing-mode: horizontal-tb;
  }
}

