@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Russo+One&display=swap");

#swiper {
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  max-width: 90%;
}

.title__swiper {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.185em;
  color: #ffffff;
}

.name__book {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 188.52%;
  /* or 26px */

  letter-spacing: 0.185em;

  color: #ffffff;
}

.author__book {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 188.52%;
  /* identical to box height, or 23px */

  text-align: center;
  letter-spacing: 0.185em;

  color: rgba(255, 255, 255, 0.23);
}

.price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 188.52%;
  /* or 30px */

  text-align: center;
  letter-spacing: 0.185em;

  color: #ffffff;
}

.name__book__long {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 188.52%;
  /* or 26px */

  letter-spacing: 0.185em;

  color: #ffffff;
  width: 340px;
}
