// colors
$background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
$blocks: linear-gradient(35.71deg, #ffd7a9 9.11%, #ffae70 71.64%);
$opacity_gray: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);

// breakpoints
$content-width: 1920px;
$breakpoint-xxl: 1200px;
$breakpoint-xl: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-s: 360px;
